@mixin flexItens($options) {
  display: flex;
  align-items: center;
  justify-content: $options;
}

.wrapper {
  @include flexItens(space-between);
  margin-bottom: 20px;

  h1 {
    font-size: clamp(1.38rem, 4vw, 2rem);
  }

  p {
    font-size: 0.81rem;
    color: #dfe3fa;
  }

  .wrapper2 {
    @include flexItens(initial);
    gap: 1.88rem;

    @media screen and (max-width: 567px) {
      gap: 1.25rem;
    }

    .button {
      font-size: 0.94rem;
      font-weight: 700;
      color: #ffffff;
      background: #7c5dfa;
      padding: 0.625rem;
      @include flexItens(initial);
      gap: 0.5rem;
      border: none;
      border-radius: 1.5625rem;
      cursor: pointer;

      @media screen and (max-width: 481px) {
        span {
          display: none;
        }
      }
    }
  }
}
