.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 13px;
    color: #dfe3fa;
  }

  .wrapper2 {
    display: flex;
    align-items: center;
    gap: 30px;

    .button {
      font-size: 15px;
      color: #ffffff;
      background: #7c5dfa;
      padding: 10px;
      gap: 8px;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}
