$colorBar: #1e2139;

@mixin flexItems() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SideBar {
  background: $colorBar;

  nav {
    @include flexItems();
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 0.9375rem;

    img {
      display: block;
      max-width: 3.75rem;
    }

    .wrapper {
      @include flexItems();
      box-sizing: border-box;
      padding: 1.25rem 0.625rem;
      width: 6.88rem;
      position: relative;

      .separator {
        position: absolute;
        width: 0.3px;
        right: 54%;
        height: 5.625rem;
        background-color: #858bb2;
        transform: translateX(50%);
      }

      img {
        display: block;
        max-width: 1.88rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
