label {
  display: block;
  font-size: 14px;
  color: #dfe3fa;
  margin-bottom: 8px;
}

.input {
  font-size: 15px;
  padding: 12px;
  display: block;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #1e2139;
  width: 100%;
  // margin-bottom: 10px;
  outline: 1px solid transparent;
  transition: outline 0.4s ease;

  &:focus {
    outline: 1px solid #7c5dfa;
  }
}
